<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

    <h1>Candidate List</h1>
    <ul>
        <% title.forEach(user=> { %>
            <li>ID: <%= user.id %>, Name: <%= user.firstname %>, Age: <%= user.mobile %>
            </li>
            <% }); %>
    </ul>

</body>
</html>

